[submodule "ros-z-wasm"]
	path = ros-z-wasm
	url = https://github.com/0x53A/hiroz.git
	branch = wasm
[submodule "zenoh-wasm"]
	path = zenoh-wasm
	url = https://github.com/0x53A/zenoh.git
	branch = wasm
